/*
.hello {
	position:absolute;
  	top:10;
  	left:15
}
*/
body {
	background: white;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

a {
	text-decoration: none;
	color: black;
}

/* NAV BAR */
#navvy {
	display: flex;
	justify-content: flex-end;
}

#menuToggle {
	position: relative;
	top: 30px;
	right: 30px;

	z-index: 1;

	-webkit-user-select: none;
	user-select: none;
}

#menuToggle input {
	display: block;
	width: 40px;
	height: 32px;
	position: absolute;
	top: -7px;
	left: -5px;

	cursor: pointer;

	opacity: 0; /* hide this */
	z-index: 2; /* and place it over the hamburger */

	-webkit-touch-callout: none;
}

#menuToggle span {
	display: block;
	width: 33px;
	height: 4px;
	margin-bottom: 5px;
	position: relative;

	background: #cdcdcd;
	border-radius: 3px;

	z-index: 1;

	transform-origin: 4px 0px;
	transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
	          background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
	          opacity 0.55s ease;
}

#menuToggle span:first-child {
	transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
	transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span {
	opacity: 1;
	transform: rotate(45deg) translate(-2px, -1px);
	background: rgb(160, 160, 205);
}

#menuToggle input:checked ~ span:nth-last-child(3) {
	opacity: 0;
	transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2) {
	transform: rotate(-45deg) translate(0, -1px);
}

#menu {
	position: absolute;
	width: 300px;
	height: 100vh;

	margin: -100px 0 0 0;
	padding: 50px;
	padding-top: 125px;
	right: -100px;

	background: #ededed;
	list-style-type: none;
	-webkit-font-smoothing: antialiased;
	/* to stop flickering of text in safari */

	transform-origin: 0% 0%;
	transform: translate(100%, 0);
	transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li {
	font-family: 'Raleway', sans-serif;
	text-transform: capitalize;
	padding: 10px 0;
	font-size: 22px;
}

#menu li:hover {
	color: rgb(160, 160, 205);
}

#menuToggle input:checked ~ ul {
	transform: none;
}


/* PARTY TITLE - in progress!-- Changed by Sam temporarily.
.title {
	clear: both;
}*/
.title {
	font-size: 60px;
	font-weight: bolder;
	padding-top: 2%;
	padding-bottom: 1%;
	font-family: 'Raleway', sans-serif;
	text-align: center;
}

.party {
	margin-bottom: 2%;
	margin-left: 1%;
	top: 5px;
	font-size: 30px;
	font-family: 'Lato', sans-serif;
}


/* PLAYLIST CONTENTS */
.content {
	display: flex;
	justify-content: center;
	position: relative;
}

.playlist {
	box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.4);
	width: 75%;
	margin: 10px 10px 10px 10px;
}

.playlist ul {
	color: black;
	list-style: none;
	padding: 0px;
	margin: 0px;
}

.playlist ul li {

	min-height: 50px;
	background-color: white;
	transition-property: background-color;
    transition-duration: 0.2s;
}

.playlist ul li:hover {
	background: rgb(255, 229, 229);
}

.playlist ul li {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.score {
	transform: translateY(7px);
}

/* SEARCH BAR */
.search {
	background: #ddd;
}

button {
	padding: 6px 10px;
	background: #ddd;
	font-size: 17px;
	border: none;
	cursor: pointer;
}

input[type=text] {
	width: 75%;
	background: #ddd;
	font-size: 25px;
	border: none;
	outline: none;
	transform: translateY(-3px);
}

#dropdown {
	position: absolute;
	width: inherit;
	background: rgb(160, 160, 205, 0.95);
}

.option {
	padding: 5px 5px;
}

.option:hover {
	background: rgb(25, 25, 25, 0.3);
}

/* APPEARANCE OF SONG AND ARTIST NAME */
.song, .artist {
	font-family: 'Raleway', sans-serif;
}

.song {
	font-size: 15px;
	color: black;
	font-weight: bold;
}

.artist {
	font-size: 10px;
	color: gray;
	text-transform: uppercase;
}

/* PLAYLIST APPEARANCE */
.playingItem {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: lightblue; /*temporary, just to visually distinguish*/
}

.votingItem {
	display: flex;
	flex-grow: 5;
	align-items: center;
	justify-content: space-between;
	background-color: lightgreen; /*temporary, just to visually distinguish*/
}

.suggestingItem {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.buttons {
	display: flex;
	justify-content: flex-end;
	margin-right: 10px;
}

#down, #up {
	margin-right: 5px;
	font-size: 30px;
	transition-property: color;
	transition-duration: 0.3s;
}

#down_disabled, #up_disabled {
	margin-right: 5px;
	font-size: 30px;
	transition-property: color;
	transition-duration: 0.3s;
	color: lightgray;
}

.albumCover {
	width: 8%;
}

.downColor {
	color: red;
}

.upColor {
	color: green;
}

/* CURRENTLY PLAYING */
.nowPlaying {
	width: 100%;
	clear: both;
	display: flex;
	justify-content: center;
	position: absolute;
}

.imgContainer {
	width: 75%;
	display: flex;
	justify-content: flex-start;
}

.albumArt {
	width: 30%;
	height: 100%;
	box-shadow: 5px 5px 5px rgba(50, 50, 50, 0.8);
}

.artistInfo {
	margin-top: 5%;
	display: block;
	width: 100%;
}

.now {
	font-family: 'Lato', sans-serif;
	font-weight: bolder;
}

.now, .trackName, .artistName {
	font-family: 'Lato', sans-serif;
	display: block;
	margin-left: 8%;
}

.trackName {
	font-size: 30px;
}

.musicControls {
	display: flex;
	justify-content: center;
	position: relative;
}

.musicControls i {
	margin: 15px 15px 15px 15px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0);/*  Fallback color */
    background-color: rgba(255, 192, 203,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
	border-radius: 25px;
	border: 1px solid black;
	position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Modal Content */
.modal-content2 {
    background-color: #fefefe;
    margin: auto;
    border: 1px solid #888;
    width: 80%;
	height: 50%;
	border-radius: 25px;
	border: 1px solid black;
	position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.btn {
	font-family: 'Raleway', sans-serif;
	margin: auto;

	margin-top: 28px;
	font-size: 14px;
    line-height: 1;
    border-radius: 500px;
    padding: 18px 48px 18px;
    /* transition */
    transition-property: background-color, border-color, color;
    transition-duration: .4s;
    border-width: 0;
    letter-spacing: 2px;
    width: 150px;
    text-transform: uppercase;
    white-space: normal;

    display: block;
    margin-bottom: 0;
    font-weight: 700;
    text-align: center;
    vertical-align: middle;

    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid black;

    user-select: none;
}


.btn:hover {
	background-color: black;
	border-color: black;
	color: pink;
}

p {
	font-family: 'Raleway', sans-serif;
	font-size: 24px;
}

.score {
	margin-right: 5px;
}


.track {
	margin-left: 5%; 
	width: 100%;
}

.score {
	float: right;
}
a i{
	font-size:24px;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    transform: translate(-15px, 5px); 
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

@media only screen and (max-width:768px) { 
	.btn{
		font-size: 28px;
		width: 50%;
	}
	a i{
		font-size:36px;
	}

	input[type=text] {
		font-size: 40px;
	}

}

.userImage {
    width: 130px;
    height: 130px;
    overflow: hidden;
    border-radius: 50%;
    margin: 15px 15px 15px 15px;
}

#user_data {
	margin-top: 8%;
	display: flex;
	justify-content: center;
}

#user_data {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}

#user_data {
  -webkit-overflow-scrolling: touch;
}

::-webkit-scrollbar { 
    display: none; 
}

.userName {
	text-align: center;
	font-family: 'Lato', sans-serif;
}


