span {
	font-weight: bolder;
	font-family: 'Raleway', sans-serif;
	font-size: 25px;
    line-height: 1;
    letter-spacing: 2px;
	color: black;
	text-decoration: none;
	background-color: transparent;
	margin-left: 200px;
}

.accordion {
	margin-left: 200px;
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

.active, .accordion:hover {
    background-color: #ccc; 
}

.panel {
    padding: 0 18px;
    display: none;
    background-color: white;
    overflow: hidden;
}

ab {
	margin-left: 200px;
	font-family: 'Raleway', sans-serif;
	font-size: 25px;
    line-height: 1;
    letter-spacing: 2px;
	color: black;
	text-decoration: none;
	background-color: transparent;
}

body {
	text-align: center;
	padding: 0;
	margin: 0;

}

.nav-bar {
	width: 100%;
	position: fixed;
	background: rgba(50, 50, 50, 0.8);
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}

.title {
	font-size: 60px;
	font-weight: bolder;
	padding-top: 15%;
	font-family: 'Raleway', sans-serif;
	margin-left: 200px;
}

a {
	
	font-family: 'Raleway', sans-serif;
	font-size: 14px;
    line-height: 1;
    letter-spacing: 2px;
	color: black;
	text-decoration: none;
	background-color: transparent;
}
p {
	font-family: 'Raleway', sans-serif;
	font-size: 24px;
}

.nav-bar a {
	color: white;
	float: right;
	margin: 15px 15px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.nav-bar p {
	color: white;
	float: left;
	margin: 15px 15px;
	padding-top: 10px;
	padding-bottom: 10px;
	
	font-family: 'Raleway', sans-serif;
	font-size: 14px;
    line-height: 1;
    letter-spacing: 2px;
	text-decoration: none;
	background-color: transparent;
	
}

.nav-bar a:hover {
	color: pink;
}

.color {
	color: pink !important;
}

.btn {
	font-family: 'Raleway', sans-serif;
	margin: auto;

	margin-top: 28px;
	font-size: 14px;
    line-height: 1;
    border-radius: 500px;
    padding: 18px 48px 18px;
    /* transition */
    transition-property: background-color, border-color, color;
    transition-duration: .4s;
    border-width: 0;
    letter-spacing: 2px;
    width: 150px;
    text-transform: uppercase;
    white-space: normal;

    display: block;
    margin-bottom: 0;
    font-weight: 700;
    text-align: center;
    vertical-align: middle;

    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid black;

    user-select: none;
}

.textfield{
	font-family: 'Raleway', sans-serif;
	margin: auto;
	text-align: center; 
	margin-top: 28px;
	font-size: 25px;
    line-height: 1;
    border-radius: 500px;
    padding: 18px 48px 18px;
    background-image: none;
    border: 1px solid black;
	border-width: 0;
    letter-spacing: 2px;
    width: 150px;
    text-transform: uppercase;
    white-space: normal;
	border: 1px solid black;
    display: block;
    margin-bottom: 0;
    font-weight: 700;
}

textarea:focus, input:focus{
    outline: none;
}

.btn:hover {
	background-color: black;
	border-color: black;
	color: pink;
}

/* ARROW */
.more {
	position:absolute;
    top:96vh;
    transform:translateY(-100%);
    width:100%;
}

.arrow:hover .bottom {
	border: 0.3em solid black;
}

/*.arrow:hover .bottom:after {
	border-top: 0.3em solid white;
	border-right: 0.3em solid white;
}*/

.bottom {
	display: inline-block;
	width: 2.5em;
	height: 2.5em;
	border: 0.3em solid #333;
	border-radius: 50%;
	/*background color transition*/
	transition-property: background-color;
    transition-duration: .4s;
}

.bottom:hover {
	background-color: pink;
}

.bottom:after {
	content: '';
	display: inline-block;
	margin-top: 0.5em;
	width: 0.8em;
	height: 0.8em;
	border-top: 0.3em solid #333;
	border-right: 0.3em solid #333;
	transform: rotate(135deg);
}

.info1 {
	background-color: pink;
	height: 100vh;
}

.section {
	font-family: 'Raleway', sans-serif;
	transform: translateY(50%);
}

.topSection {
	background-color: white;
	height: 100vh;
}

.gray {
	background-color: gray;
	border-color: gray;
	color: rgb(205, 205, 205);
	pointer-events: none;
	cursor: default;
	text-decoration: none;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0);/*  Fallback color */
    background-color: rgba(255, 192, 203,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
	border-radius: 25px;
	border: 1px solid black;
	position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

