
.title {
  font-size: 40px;
  margin-bottom: 2%;
}

.scrolling-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}

.scrolling-wrapper {
  -webkit-overflow-scrolling: touch;
}

::-webkit-scrollbar { 
    display: none; 
}

.card {
  width: 300px;
  display: inline-block;
  margin: 10px 10px 10px 10px;
  background-color: black;
}

.albumArt {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
}

.card:hover .albumArt {
  opacity: 0.3;
}

/*
ADD middle back below
*/
.card:hover {
  opacity: 1;
}

.text {
  color: black;
  background-color: white;
}


/*.scrolling-wrapper-flexbox {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
}

.card {
  width: 300px;
  flex: 0 0 auto;
}
*/

.albumArt {
  width: 100%;
  height: 100%;
  box-shadow: 5px 5px 5px rgba(50, 50, 50, 0.8);
}

.buttons {
  margin-bottom: 5%;
}




