
html, body {
  height: 100%;
  width: 100%;
}

.wave {
  position: absolute;
  left:0;
  right:0;
  top:20%;
  bottom:0;
  z-index: 1;
}

.wave + .wave {
  z-index: 2;
}

.topSection {
  position: relative;
  z-index: 10;
}
